.blocklyEditor {
  .disable {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(100, 100, 100, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .enable {
      font-size: 200%;
      color: red;
      border: solid 2px red;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      user-select: none;
    }
  }

  #blocklyPages {
    position: absolute;
    top: 0.5em;
    right: 1em;
    border: solid 1px #bbbbbb;
    border-radius: 0.5em;
    padding: 0.5em;
    color: gray;
    user-select: none;
    cursor: pointer;

    ul.menuDropDown {
      right: 0;
      left: auto;
      width: max-content;
    }
  }
}