@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?iagjad');
  src:  url('../fonts/icomoon.eot?iagjad#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?iagjad') format('truetype'),
    url('../fonts/icomoon.woff?iagjad') format('woff'),
    url('../fonts/icomoon.svg?iagjad#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard:before {
  content: "\e90b";
}
.icon-cameraArc:before {
  content: "\e900";
}
.icon-cameraTop:before {
  content: "\e901";
}
.icon-cameraFollow:before {
  content: "\e902";
}
.icon-ruler:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-virtualJoystickIndicator:before {
  content: "\e905";
}
.icon-stop:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e908";
}
.icon-virtualJoystick:before {
  content: "\e909";
}
.icon-joystick:before {
  content: "\e90a";
}