@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bogrw9');
  src:  url('../fonts/icomoon.eot?bogrw9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bogrw9') format('truetype'),
    url('../fonts/icomoon.woff?bogrw9') format('woff'),
    url('../fonts/icomoon.svg?bogrw9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e904";
}
.icon-ruler:before {
  content: "\e900";
}
.icon-stop:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e901";
}
