@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?zcpech');
  src:  url('../fonts/icomoon.eot?zcpech#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?zcpech') format('truetype'),
    url('../fonts/icomoon.woff?zcpech') format('woff'),
    url('../fonts/icomoon.svg?zcpech#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e91b";
}
.icon-kebab:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-deleteFile:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e916";
}
.icon-newFile:before {
  content: "\e919";
}
.icon-buttonsDown:before {
  content: "\e90e";
}
.icon-buttonsLeft:before {
  content: "\e90f";
}
.icon-buttonsRight:before {
  content: "\e910";
}
.icon-buttonsUp:before {
  content: "\e911";
}
.icon-buttons:before {
  content: "\e912";
}
.icon-buttonsBackspace:before {
  content: "\e913";
}
.icon-buttonsEnter:before {
  content: "\e914";
}
.icon-sensors:before {
  content: "\e90d";
}
.icon-reset:before {
  content: "\e90c";
}
.icon-keyboard:before {
  content: "\e90b";
}
.icon-cameraArc:before {
  content: "\e900";
}
.icon-cameraTop:before {
  content: "\e901";
}
.icon-cameraFollow:before {
  content: "\e902";
}
.icon-ruler:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-virtualJoystickIndicator:before {
  content: "\e905";
}
.icon-stop:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e908";
}
.icon-virtualJoystick:before {
  content: "\e909";
}
.icon-joystick:before {
  content: "\e90a";
}