@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px; }

body {
  background: #E4F0FE;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; }

header {
  background: #4994FB;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 0em 1em;
  height: 2.2em;
  align-items: center; }
  header .gearsIcon {
    height: 1.6em;
    margin-right: 0.5em;
    margin-top: -0.3em;
    margin-bottom: -0.3em; }
  header #projectName, header #robotName {
    margin-left: 1em;
    background: #76AFFC;
    border: dashed 1px #5781BA;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    position: relative;
    color: white; }
  header #projectName::placeholder {
    color: #95989A; }
  header .language {
    margin-left: auto;
    cursor: pointer;
    user-select: none; }

.bold {
  font-weight: bold; }

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

nav {
  margin-top: 0.5em;
  display: flex;
  border-bottom: solid 1px #bbbbbb;
  align-items: center; }
  nav ul.panelTabs {
    display: flex;
    padding-left: 5px;
    margin: 0; }
    nav ul.panelTabs li {
      display: block;
      border: solid 1px #bbbbbb;
      padding: 0.3em 1em;
      border-radius: 0.5em 0.5em 0 0;
      border-bottom: none;
      margin-left: -5px;
      background: #D9E3F1;
      color: #999999;
      cursor: pointer;
      user-select: none; }
    nav ul.panelTabs li:hover {
      background: #E4F0FE; }
    nav ul.panelTabs li.active {
      z-index: 1;
      background: white;
      color: #4994FB;
      margin-top: -5px;
      font-size: 110%; }
  nav .menuBar {
    display: flex;
    margin-left: 0.5em; }
    nav .menuBar .menuItem {
      padding: 0.3em 0.5em;
      font-weight: bold;
      color: gray;
      cursor: pointer;
      user-select: none; }
    nav .menuBar .menuItem:hover {
      color: #4994FB; }
  nav .panelControlsArea {
    margin-left: auto; }
    nav .panelControlsArea .panelControls {
      display: none; }
    nav .panelControlsArea .panelControls.active {
      display: block; }

.panels {
  flex-grow: 1;
  position: relative;
  overflow: hidden; }
  .panels .panel {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute; }
  .panels .panel.active {
    z-index: 0; }

.saveBlockly, .savePython {
  font-weight: bold;
  color: gray;
  cursor: pointer;
  user-select: none;
  margin: 0 1em; }

.saveBlockly.hide, .savePython.hide {
  display: none; }

#pythonCode {
  width: 100%;
  height: 100%;
  font-size: 120%; }

.dialogWindow .selectRobot {
  max-height: 60vh;
  display: flex;
  flex-direction: column; }
  .dialogWindow .selectRobot .description {
    display: flex;
    border: solid 1px white;
    margin-top: 0.5em; }
    .dialogWindow .selectRobot .description .thumbnail {
      width: 200px;
      height: 200px; }
    .dialogWindow .selectRobot .description .text {
      border-left: solid 1px white;
      padding: 0 1em;
      flex-shrink: 1; }
  .dialogWindow .selectRobot .configurations {
    border: solid 1px white;
    margin-top: 0.5em;
    padding: 0 0.5em;
    overflow-y: auto;
    max-height: 20em; }

ul.menuDropDown {
  background: #E4F0FE;
  border: solid 1px #bbbbbb;
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.25); }
  ul.menuDropDown li {
    display: block;
    color: gray;
    padding: 0.5em; }
  ul.menuDropDown li:hover {
    background: white; }
  ul.menuDropDown li.underline {
    border-bottom: solid 1px #bbbbbb; }
  ul.menuDropDown .tick {
    color: green; }

ul.menuDropDownRightAlign {
  top: 100%; }

.blocklyEditor .disable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(100, 100, 100, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blocklyEditor .disable .enable {
    font-size: 200%;
    color: red;
    border: solid 2px red;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none; }
.blocklyEditor #blocklyPages {
  position: absolute;
  top: 0.5em;
  right: 1em;
  border: solid 1px #bbbbbb;
  border-radius: 0.5em;
  padding: 0.5em;
  color: gray;
  user-select: none;
  cursor: pointer; }
  .blocklyEditor #blocklyPages ul.menuDropDown {
    right: 0;
    left: auto;
    width: max-content; }

#renderCanvas {
  width: 100%;
  height: 100%; }

.runSim {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  left: 2em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.startSim {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  left: 1.5em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.stopSim {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  left: 2.5em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.world {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  left: 4em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.reset {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  left: 8em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.camera {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  right: 2em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.ruler {
  position: absolute;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 0.2em;
  opacity: 0.8;
  top: 4em;
  left: 2em;
  font-size: 200%;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  width: 13em;
  overflow: hidden;
  transition: 0.5s width; }
  .ruler .icon {
    margin-right: 0.5em;
    font-size: 120%; }
  .ruler .row1, .ruler .row2 {
    font-size: 50%;
    white-space: nowrap; }
  .ruler .measurements {
    font-size: 50%;
    white-space: nowrap;
    flex-grow: 1; }
    .ruler .measurements table {
      width: 100%; }
    .ruler .measurements td {
      width: 33%; }

.ruler.closed {
  color: white;
  background: none;
  width: 1.3em; }

.console {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.7;
  color: white;
  font-size: 150%;
  height: 2em;
  overflow: hidden;
  transition: height 0.5s; }
  .console .chevron {
    position: absolute;
    right: 0;
    font-size: 200%;
    cursor: pointer;
    user-select: none; }
  .console .chevron::before {
    content: "\2303"; }
  .console .clear {
    position: absolute;
    right: .15em;
    font-size: 180%;
    cursor: pointer;
    user-select: none;
    top: 1em; }
  .console .content {
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 1em;
    right: 2em;
    margin: 0px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-wrap; }
    .console .content .error {
      color: red; }

.console.open {
  height: 10em; }
  .console.open .chevron {
    top: -0.5em; }
  .console.open .chevron::before {
    content: "\2304"; }
  .console.open .content {
    overflow-y: scroll; }

.dialogWindow .selectWorld {
  max-height: 60vh;
  display: flex;
  flex-direction: column; }
  .dialogWindow .selectWorld .description {
    display: flex;
    border: solid 1px white;
    margin-top: 0.5em; }
    .dialogWindow .selectWorld .description .thumbnail {
      width: 200px;
      height: 200px; }
    .dialogWindow .selectWorld .description .text {
      border-left: solid 1px white;
      padding: 0 1em;
      flex-shrink: 1; }
  .dialogWindow .selectWorld .configurations {
    border: solid 1px white;
    margin-top: 0.5em;
    padding: 0 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20em; }
    .dialogWindow .selectWorld .configurations .configuration {
      padding: 0.5em 0em; }
      .dialogWindow .selectWorld .configurations .configuration input[type=text], .dialogWindow .selectWorld .configurations .configuration input[type=file] {
        font-size: 100%;
        background: none;
        border: solid 1px white;
        color: white; }
      .dialogWindow .selectWorld .configurations .configuration .configurationTitle {
        color: lightgray;
        margin-bottom: 0.1em; }
      .dialogWindow .selectWorld .configurations .configuration .slider {
        display: flex; }
        .dialogWindow .selectWorld .configurations .configuration .slider input[type=range] {
          flex-grow: 1; }
        .dialogWindow .selectWorld .configurations .configuration .slider input[type=text] {
          width: 3em;
          text-align: right; }
      .dialogWindow .selectWorld .configurations .configuration .text input[type=text] {
        width: 100%; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; }

.tooltip .tooltiptext {
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  max-width: 18em;
  width: max-content; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid; }

.tooltip.bottom .tooltiptext {
  top: 125%;
  left: 50%;
  transform: translateX(-50%); }
.tooltip.bottom .tooltiptext::after {
  margin-left: -5px;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent white transparent; }

.tooltip.right .tooltiptext {
  top: 50%;
  left: 100%;
  transform: translate(0.5em, -50%); }
.tooltip.right .tooltiptext::after {
  margin-top: -5px;
  right: 100%;
  top: 50%;
  border-color: transparent white transparent transparent; }

.tooltip.left .tooltiptext {
  top: 50%;
  right: 100%;
  transform: translate(-0.5em, -50%); }
.tooltip.left .tooltiptext::after {
  margin-top: -5px;
  left: 100%;
  top: 50%;
  border-color: transparent transparent transparent white; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.sensors {
  position: absolute;
  color: white;
  opacity: 0.8;
  top: 2em;
  right: 8em;
  font-size: 200%;
  cursor: pointer;
  user-select: none; }

.sensorReadings {
  position: absolute;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 0.5em;
  top: 9em;
  right: 4em;
  font-size: 100%;
  width: 14em;
  max-height: 70%;
  overflow-y: auto; }
  .sensorReadings .sensorReading {
    margin-bottom: 0.5em; }
    .sensorReadings .sensorReading .sensorType {
      text-align: center; }
    .sensorReadings .sensorReading table.sensorValues {
      width: 100%;
      border-collapse: collapse; }
      .sensorReadings .sensorReading table.sensorValues td {
        border: solid 2px #bbbbbb; }
      .sensorReadings .sensorReading table.sensorValues td.sensorValue {
        text-align: right;
        width: 30%; }

.sensorReadings.hide {
  display: none; }

@keyframes flash {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
.worldInfo {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25em;
  padding: 0.5em;
  top: 0.5em;
  left: 50%;
  width: 14em;
  margin-left: -7em;
  font-size: 200%;
  max-height: 20%;
  overflow: hidden; }
  .worldInfo .row {
    display: flex;
    justify-content: space-between; }
  .worldInfo .mono {
    font-family: monospace; }
  .worldInfo .center {
    width: 100%;
    text-align: center; }
  .worldInfo .animate {
    animation-name: flash;
    animation-duration: 0.5s; }
  .worldInfo .red.animate {
    color: #ff0000; }
  .worldInfo .green.animate {
    color: #00ff00; }
  .worldInfo .p0.animate {
    color: #00ffff; }
  .worldInfo .p1.animate {
    color: #00ff00; }
  .worldInfo .p2.animate {
    color: #ffff00; }
  .worldInfo .p3.animate {
    color: #ff0000; }

.worldInfo.hide {
  display: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bogrw9");
  src: url("../fonts/icomoon.eot?bogrw9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bogrw9") format("truetype"), url("../fonts/icomoon.woff?bogrw9") format("woff"), url("../fonts/icomoon.svg?bogrw9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-globe:before {
  content: "\e904"; }

.icon-ruler:before {
  content: "\e900"; }

.icon-stop:before {
  content: "\e902"; }

.icon-play:before {
  content: "\e903"; }

.icon-camera:before {
  content: "\e901"; }

#arenaFrame {
  background-color: white;
  border: solid 40px; }
  #arenaFrame .row {
    padding: 1em;
    display: flex;
    align-items: center; }
  #arenaFrame .row.header {
    background-color: lightgray; }
  #arenaFrame #enable {
    margin-right: 1.5em; }
  #arenaFrame #player {
    font-size: 200%;
    font-weight: bold; }

#arenaFrame.bot0 {
  border-color: #00FFFF; }

#arenaFrame.bot1 {
  border-color: #00FF00; }

#arenaFrame.bot2 {
  border-color: #FFFF00; }

#arenaFrame.bot3 {
  border-color: #FF0000; }

#arenaFrame.bot0.disabled {
  border-color: #446666; }
  #arenaFrame.bot0.disabled #player {
    color: gray; }

#arenaFrame.bot1.disabled {
  border-color: #446644; }
  #arenaFrame.bot1.disabled #player {
    color: gray; }

#arenaFrame.bot2.disabled {
  border-color: #666644; }
  #arenaFrame.bot2.disabled #player {
    color: gray; }

#arenaFrame.bot3.disabled {
  border-color: #664444; }
  #arenaFrame.bot3.disabled #player {
    color: gray; }

.botsPanel {
  background: white; }
  .botsPanel .botsRow {
    display: flex;
    width: 100%;
    height: 50%; }
    .botsPanel .botsRow .bot {
      width: 50%; }
      .botsPanel .botsRow .bot iframe {
        border: none;
        width: 100%;
        height: 100%; }

.console .player0 {
  color: #00FFFF; }
.console .player1 {
  color: #00FF00; }
.console .player2 {
  color: #FFFF00; }
.console .player3 {
  color: #FF0000; }

.componentsWindow {
  position: absolute;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  padding: 1em;
  top: 2em;
  left: 1em;
  font-size: 100%;
  width: 15em;
  height: 90%;
  display: flex;
  flex-direction: column; }
  .componentsWindow .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 120%; }
    .componentsWindow .buttons div {
      border: solid 2px #bbbbbb;
      padding: 0.3em 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      user-select: none; }
  .componentsWindow .componentsList {
    font-size: 120%;
    overflow: auto;
    flex-grow: 1;
    white-space: nowrap;
    margin-bottom: 1em; }
    .componentsWindow .componentsList ul {
      list-style-type: none;
      padding-inline-start: 0; }
      .componentsWindow .componentsList ul ul {
        padding-inline-start: 1em;
        list-style-type: "Ëª "; }
    .componentsWindow .componentsList li {
      cursor: pointer;
      user-select: none; }
    .componentsWindow .componentsList li.selected {
      background-color: #bbbbbb; }
    .componentsWindow .componentsList li.ulHolder {
      list-style-type: none; }

.settingsWindow {
  position: absolute;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  padding: 1em;
  top: 2em;
  right: 1em;
  font-size: 100%;
  width: 20em;
  height: 90%;
  display: flex;
  flex-direction: column; }
  .settingsWindow .settingsArea {
    flex-grow: 1; }
  .settingsWindow .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 120%; }
    .settingsWindow .buttons div {
      border: solid 2px #bbbbbb;
      padding: 0.3em 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      user-select: none; }
  .settingsWindow .componentName {
    text-align: center;
    font-size: 120%;
    font-weight: bold; }
  .settingsWindow .configuration {
    padding: 0.5em 0; }
  .settingsWindow .configurationTitle {
    color: lightgray;
    margin-bottom: 0.1em; }
  .settingsWindow .slider {
    display: flex; }
    .settingsWindow .slider input[type=range] {
      flex-grow: 1; }
    .settingsWindow .slider input[type=text] {
      width: 3em;
      text-align: right; }
